<div id="block-exposedformsearchsearch" class="block-exposedformsearchsearch">
  <div class="search-wrapper">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    <form id="{{ form_id }}" action="{{ action }}" method="{{ method }}">
    {% if keyword %}
      <label>{{ 'What are you looking for?'|t }}</label>
      {#{% for key, item in form if item['#type'] == 'text' %}#}
      {#{{ item }}#}
      {#{% endfor %}#}
      <div class="keyword-wrapper">
        <label>{{ 'What are you looking for?'|t }}</label>
        <div class="input-wrapper">
          {{ keyword }}{{ reset }}
        </div>
      </div>
      {% endif %}
      {# Filters modal. #}
      <div id="filters-modal" class="filters-modal closed">
        <div class="reveal-wrapper">
          {{ service }}
          {{ research_area }}
          {{ user_group }}
          {{ resource_type }}
        </div>
        {# Render Submit and Reset Buttons. #}
        <div id="edit-actions">
          {{ submit }}
          {{ reset }}
        </div>
        {# Modal close button. #}
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </form>
    <button id="filter-button" class="button rectangular">{{ 'Filters'|t }}</button>
  </div>
</div>
