<div id="checkboxes-wrapper">
  <fieldset data-drupal-selector="edit-research-area" id="edit-research-area--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
    <legend>
      <span class="fieldset-legend">{{ legend }}</span>
    </legend>
    <div class="fieldset-wrapper">
      <div id="edit-research-area" class="form-checkboxes">
        <div data-drupal-selector="edit-research-area" id="edit-research-area--wrapper" class="fieldgroup form-composite form-checkboxes">
          {{ checkbox1|raw }}
          {{ checkbox2|raw }}
          {{ checkbox3|raw }}
          {{ checkbox4|raw }}
          {{ checkbox5|raw }}
          {{ checkbox6|raw }}
          {{ checkbox7|raw }}
          {{ checkbox8|raw }}
        </div>
      </div>
    </div>
  </fieldset>
</div>
