<div class="c-card c-card--img_full c-card{{ card_variation }}" style="background-image: url('{{ image }}')">
  <div class="grid-container">
    <div class="grid-x">
      <div class="c-card--image show-for-small-only cell">
        <img src="{{ image }}" />
      </div>
      <div class="c-card--content medium-7 large-5 cell">
        <h3>{{ title }}</h3>
        <div>{{ summary }}</div>
        <div class="button-wrapper">{{ button }}</div>
      </div>
    </div>
  </div>
</div>
