{% if page.footer_first or page.footer_middle or page.footer_last %}
<footer class="footer-overlay">
  <div class="grid-container grid-x">
    <div id="footer-first" class="medium-2 medium-offset-1 cell">
    {% if page.footer_first %}
      {{ page.footer_first }}
    {% endif %}
    </div>
    
    <div id="footer-middle" class="medium-4 large-2 cell">
    {% if page.footer_middle %}
      {{ page.footer_middle }}
    {% endif %}
    </div>
    
    <div id="footer-last" class="medium-4 medium-offset-2 cell">
    {% if page.footer_last %}
      {{ page.footer_last }}
    {% endif %}
    </div>

  </div>
</footer>
{% endif %}

<div class="bottom-bar callout secondary">
  <div class="grid-container grid-x">
    <div class="large-8 large-offset-2 cell">
    {% if page.bottom_bar %}
      {{ page.bottom_bar }}
    {% endif %}
      <div class="copyright-info">&copy; {{ "now"|date('Y') }} {{ site_name }} {{ site_slogan }} {{ 'All rights reserved.'|t }}</div>
    </div>
  </div>
</div>
