<div class="grid-container">
<ul class="accordion" data-accordion>
{% for key, tab_item in tab_items %}
  <li class="accordion-item {{ tab_item.active }}" data-accordion-item>
    <a href="#accordion-{{ key }}" class="accordion-title">{{ tab_item.title }}</a>
    <div class="accordion-content" data-tab-content id="accordion-{{ key }}">
      <h2>{{ tab_item.heading }}</h2>
      <div class="tabs-panel__summary">{{ tab_item.summary }}</div>
      <div class="tabs-panel__button">{{ tab_item.button }}</div>
      <div class="tabs-panel__footer">{{ tab_item.footer }}</div>
    </div>
  </li>
{% endfor %}
</ul>
</div>
