<div class="checkboxes-wrapper">
  <fieldset data-drupal-selector="edit-research-area" id="edit-research-area--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
    <legend>
      <span class="fieldset-legend">{{ legend }}</span>
    </legend>
    <div class="fieldset-wrapper">
      <div id="edit-research-area" class="form-checkboxes">
        <div data-drupal-selector="edit-research-area" id="edit-research-area--wrapper" class="fieldgroup form-composite form-checkboxes">
          {{ checkbox1 }}
          {{ checkbox2 }}
          {{ checkbox3 }}
          {{ checkbox4 }}
          {{ checkbox5 }}
          {{ checkbox6 }}
          {{ checkbox7 }}
          {{ checkbox8 }}
        </div>
      </div>
    </div>
  </fieldset>
</div>
