{# see: https://foundation.zurb.com/sites/docs/card.html #}
<div class="c-card {{ card_variation }}">
  <div class="c-card__image">
    <img src="{{ image.src }}" alt="{{ image.alt }}">
    <div class="c-card__type">{{ type }}</div>
  </div>
  <div class="c-card__content">
    <h3 class="c-card__heading">{{ heading }}</h3>
    <div class="c-card__overlay">
      <div class="c-card__overlay-date"> {{ date }} </div>
      <div class="c-card__overlay-heading">{{ heading }}</div>
      <div class="c-card__overlay-author">{{ author }} </div>
      <div class="c-card__overlay-summary">{{ summary }}</div>
      <div class="c-card__overlay-button"><a href="{{ button.url }}" class="{{ button.style }}">{{ button.title }}</a></div>
    </div> <!-- /.c-card-card__overlay -->
  </div> <!-- /.c-card-card__content -->
</div> <!-- /.c-card -->
