<div class="c-card c-card{{ card_variation }}">
  <div class="grid-container">
    <div class="grid-x">
      <div class="c-card--image small-12 medium-6">
        {{ image }}
      </div>
      <div class="c-card--content small-12 medium-6 card-overlay">
        <div class="content-wrapper">
          <div class="category">{{ category }}</div>
          <h3>{{ heading }}</h3>
          <div>{{ summary }}</div>
          <div class="button-wrapper">{{ button }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
