{# see: https://foundation.zurb.com/sites/docs/card.html #}
<div class="c-testimonial">
  <div class="c-testimonial__inner grid-container grid-x">
    <div class="c-testimonial__image small-12 medium-3 small-order-2 medium-order-1">
      {{ image | raw }}
    </div>
    <div class="c-testimonial__content small-12 medium-9 small-order-1 medium-order-2">
      <div class="c-testimonial__type bold">{{ type }}</div>
      <div class="c-testimonial__summary"> {{ summary }}</div>
      <div class="c-testimonial__client"> {{ client.name }}</div>
      <div class="c-testimonial__position bold">{{ client.position }}</div>
    </div> <!-- /.c-testimonial__content -->
  </div> <!-- /.c-testimonial__inner -->
</div> <!-- /.c-testimonial -->
