<div class="grid-container">
  <div class="media-object">
      <div class="media-object-section image-section">
        {{ image }}
      </div>
      <div class="media-object-section main-section">
        <div class="inside">
          <div class="top">
            <span class="type">{{ tag }}</span>
            <span class="date">{{ date }}</span>
          </div>
          <h3>{{ title }}</h3>
          <div class="author">{{ author }}</div>
          {{ summary }}
        </div>
    </div>
  </div>
</div>
