<div class="c-card c-card{{ card_variation }}">
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
      <div class="c-card--image medium-6">
        {{ image }}
      </div>
      <div class="c-card--content medium-6">
        <div class="content-wrapper">
          <h3>{{ heading }}</h3>
          {{ summary }}
          {{ button }}
        </div>
      </div>
    </div>
  </div>
</div>