{# see: https://foundation.zurb.com/sites/docs/card.html #}
<div class="c-card c-card{{ card_variation }}">
  {% if card_variation|render == '--reveal' %}
    <div class="c-card__image">
      {% if image|render %}
        {{ image }}
      {% endif %}

      {% if type|render %}
      <div class="c-card__type">{{ type }}</div>
      {% endif %}
    </div>
    {% endif %}
  <div class="c-card__content">
    {% if type|render %}
      {% if card_variation|render == '--text' or card_variation|render == '--cta' %}
        <div class="c-card__type">{{ type }}</div>
      {% endif %}
    {% endif %}
    {% if date|render %}
      <div class="c-card__overlay-date"> {{ date }} </div>
    {% endif %}
    <h3 class="c-card__heading small">{{ heading }}</h3>
    <div class="c-card__overlay">
      {% if date_overlay|render %}
        <div class="c-card__overlay-date"> {{ date_overlay }} </div>
      {% endif %}

      {% if card_variation|render == '--reveal' %}
        <div class="c-card__overlay-heading">{{ heading_overlay }}</div>
        {% if author_overlay|render %}
          <div class="c-card__overlay-author">{{ author_overlay }} </div>
        {% endif %}
      {% endif %}

      <div class="c-card__overlay-summary">{{ summary }}</div>
      <div class="c-card__overlay-button">{{ button }}</div>
    </div> <!-- /.c-card-card__overlay -->
  </div> <!-- /.c-card-card__content -->
</div> <!-- /.c-card -->
