<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://use.typekit.net/moj4ryx.css">
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/styles.css?{{ cacheBuster }}" media="all">
    <link rel="stylesheet" href="../../css/helpers.css?{{ cacheBuster }}" media="all">

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->
		<script src="../../js/jquery/dist/jquery.min.js?{{ cacheBuster }}"></script>
		<script src="../../js/foundation-sites/dist/js/foundation.min.js?{{ cacheBuster }}"></script>
		<script src="../../js/motion-ui/dist/motion-ui.min.js?{{ cacheBuster }}"></script>

	</head>
	<body class="{{ bodyClass }}">
